<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style></style>
  </head>
  <body>
    <div class="error-container">
      <div class="error-code">Page not found</div>

      <div class="error-message">
        "For the Son of Man came to seek and to save the lost." ~ Luke 19:10
        (NIV)
      </div>
      <a class="home-link" href="/" th:href="@{/}">Back to Home</a>
    </div>
  </body>
</html>
