<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <title>Elijah's Menu</title>
    <!-- <button id="toggle-dark-mode">🌙 Toggle Dark Mode</button> -->
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
      <main>
        <!-- <h1>Welcome to Elijah's Menu</h1> -->
      </main>
      <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
    <script src="/js/recipe.js"></script>
  </body>
</html>
