<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <title th:text="${recipe.title}">Recipe Detail</title>
    <!-- <button id="toggle-dark-mode">🌙 Toggle Dark Mode</button> -->
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1 th:text="${recipe.title}">Recipe Title</h1>

    <h2>Ingredients</h2>
    <ul>
      <li
        class="ingredient-item"
        th:each="ingredient : ${#strings.arraySplit(recipe.ingredients, ',')}"
      >
        <label>
          <input type="checkbox" />
          <span th:text="${ingredient}">Ingredient</span>
        </label>
      </li>
    </ul>

    <h2>Directions</h2>
    <ol>
      <li
        th:each="direction : ${#strings.arraySplit(recipe.directions, '.')}"
        th:text="${direction}"
      >
        Step
      </li>
    </ol>

    <a href="/recipes">Back to Recipes</a>
    <script src="/js/recipe.js"></script>
  </body>
</html>
