<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <title>Add a New Recipe</title>
    <!-- <button id="toggle-dark-mode">🌙 Toggle Dark Mode</button> -->
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>Add a New Recipe</h1>
    <br />
    <form action="/recipes/new" method="post">
      <div>
        <label for="title">Recipe Title:</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div>
        <label for="ingredients"
          >Ingredients: (seperate ingredients by a comma)</label
        ><br />
        <textarea
          id="ingredients"
          name="ingredients"
          rows="15"
          cols="60"
          placeholder="e.g. 2 eggs, 1 cup milk, 2 cups flour"
          required
        ></textarea>
      </div>
      <div>
        <label for="directions"
          >Directions: (sepetate each direction with a period)</label
        ><br />
        <textarea
          id="directions"
          name="directions"
          rows="15"
          cols="60"
          placeholder="e.g. Beat eggs. Add milk. Mix in flour. Cook on pan"
          required
        ></textarea>
      </div>
      <div>
        <button type="submit">Add Recipe</button>
      </div>
    </form>
    <script src="/js/recipe.js"></script>
  </body>
</html>
