<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <title>Recipes</title>
    <!-- <button id="toggle-dark-mode">🌙 Toggle Dark Mode</button> -->
  </head>
  <body>
    <div id="hdr" th:replace="~{fragments/header :: header}"></div>
    <h1>All Recipes</h1>

    <ul>
      <li th:each="recipe : ${recipes}">
        <a
          th:href="@{'/recipes/' + ${recipe.slug}}"
          th:text="${recipe.title}"
        ></a>
      </li>
    </ul>

    <a href="/">Back to Home</a> <br />
    <a href="/recipes/new">add a new recipe</a>
    <script src="/js/recipe.js"></script>
  </body>
</html>
